/*
	Variables colors
	Create by: Robson Formigão and Jaqueline Paschoal
	Update: 06/11/2017
*/

$color_primary: #2E3840;
$color_secundary: #CEEBF2;
$color_dark: #4481A6;
$color_white: #FFFFFF;
$color_google: #EB5757;
$color_black: #000000;
$color_border: #b4b1b1;
$color_location: orangered;