.button {
	width: 140px;
	height: 40px;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	color: $color-white;

	&.face {
		background-color: $color-primary;
		margin-right: 5px;
	}

	&.google {
		background-color: $color_google;
		margin-left: 5px;
	}

	&.login {
		background-color: $color-dark;
	}

	&.add {
		background-color: $color_dark;
		margin: 10px;
		
	}
}

.options {
	padding: 5px 10px;
	margin: 5px;
	border-radius: 3px;
	
	&.location {
		background-color: orangered;
	}

	&.share {
		background-color: $color_dark;
	}

	&.delete {
		background-color: $color_google;
	}

	&.exit {
		background-color: $color_google;
	}

	&.config {
		background-color: $color_dark;
	}
	i {
		color: $color_white;
	}
}