.title_main {
	font-size: $title;
	color: $color_white;
	max-width: 250px;
	margin: 0;
}

.title_secundary {
	font-size: $title_secundary;
	font-weight: bold;
	margin: 0;
}

.title_map,
.title_details {
	color: $color_white;
	font-weight: bold;
	margin: 0 0 20px 0;
}

.title_profile {
	font-size: $title_profile;
	font-weight: bold;
	margin: 10px 0;
}

.title_spot {
	margin:0;
}