@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
/*
	Variables colors
	Create by: Robson Formigão and Jaqueline Paschoal
	Update: 06/11/2017
*/
/*
	Variables fonts
	Create by: Robson Formigão and Jaqueline Paschoal
	Update: 06/11/2017
*/
.title_main {
  font-size: 72px;
  color: #FFFFFF;
  max-width: 250px;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container .container_login {
  display: flex;
  width: 70%;
  height: 65vh;
  background-color: #CEEBF2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.container .container_login .social_login {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 40px;
  background-color: #4481A6;
}

.container .container_login .social_login .connect_social {
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 100px;
}

.container .container_login .social_login .button_social {
  margin-top: 10px;
}

.button {
  width: 150px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #FFFFFF;
}

.button.face {
  background-color: #2E3840;
  margin-right: 5px;
}

.button.google {
  background-color: #EB5757;
  margin-left: 5px;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #2E3840;
  font-family: 'Roboto', sans-serif;
}
